# App Config
CORS_ALLOW_ORIGINS=localhost:3000

# Database Config
DB_URL=jdbc:postgresql://localhost:5432/velet_db
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=velet_db
DB_PORT=5432

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Server
SERVER_PORT=8080

# Security Config
JWT_SECRET_KEY=a1d340424256ef3ef2265a0bc94834ffdd616e9a70e1fec7d2d4901c5716201c

# Storage Config
DB_DATA=./data/postgres
REDIS_DATA=./data/redis
MINIO_DATA=./data/minio

DATA_DIR=./data
