# ********************
# Infrastructure
# ********************

# Database Config
DB_URL=jdbc:postgresql://localhost:5432/velet_db
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=velet_db
DB_PORT=5432

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


# ********************
# Telemetry Components
# ********************

# OpenTelemetry Collector
OTLP_ENDPOINT=localhost:4317
OTEL_COLLECTOR_GRPC_PORT=4317
OTEL_COLLECTOR_HTTP_PORT=4318
OTEL_COLLECTOR_METRICS_PORT=8889

# Grafana
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_PORT=3000

# Prometheus
PROMETHEUS_PORT=9090


# Storage Config
DB_DATA=./data/postgres
REDIS_DATA=./data/redis
MINIO_DATA=./data/minio

DATA_DIR=./data
