# App Config
CORS_ALLOW_ORIGINS=*

# Database Config
DB_URL=jdbc:postgresql://localhost:5432/identity
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=velet_db
DB_PORT=5432

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Security Config
JWT_SECRET_KEY=<your_secret_key_here>