# Database Config
DB_URL=jdbc:postgresql://localhost:5432/wallet
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=velet_db
DB_PORT=5432

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ Config
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin

# Application Config
APP_PORT=8080
URL=http://localhost:8080
DOMAIN_NAME=Wallet